title { font-size : large ;font-weight : bold ;text-align : center ;color : red; }

Details { font-size : large ;font-weight : bold ;text-align : center ;color : red; }

Employeename { font-size : small ;font-weight : bold ;text-align : center ;color : blue; }

Employeeid { font-size : small ;font-weight : bold ;text-align : center ;color : purple; }

Department { font-size : small ;font-weight : bold ;text-align : center ;color : green; }

Post { font-size : small ;font-weight : bold ;text-align : center ;color : black; }

Salary { font-size : small ;font-weight : bold ;text-align : center ;font-family : verdana ;color : red; }


