@import url("https://fonts.googleapis.com/css?family=Lato:400,700")
	html{
			display: grid;
		min-height: 100%;
	}
	body{
		display: grid;
		background: #E0C9CB;
		font-family: "Lato", sans-serif;
		text-transform: uppercase;
	}

	.container{
		position: relative;
		margin: auto;
		overflow: hidden;
		margin-top: 140px;
		width: 520px;
		height: 350px;
		background: #F5F5F5;
		box-shadow: 5px 5px 15px rgba(186,126,126,0.5);
		border-radius: 10px;
	}

	img{
		margin-left: 80px;
		width: 120px;
		margin-top: 47px;
	}

	p{
		font-size: 0.6em;
		color: #BA7E7E;
		letter-spacing: 1px;
	}

	.pick{
		margin-top: 11px;
		margin-bottom: 0;
		margin-left: 20px;
	}

	.sizes{
		display: grid;
		color: #D9AAB7;
		grid-template-columns: repeat(auto-fill, 25px);
		width: 60%;
		grid-gap: 4px;
		margin-left: 20px;
		margin-top: 5px;
	}

	.sizes:hover {
		cursor: pointer;
	}

	.size{
		padding: 9px;
		border: 1px solid #E0C9CB;
		font-size: 0.7em;
		text-align: center;
	}

	.size:hover{
		background: #BA7E7E;
		color: #F5F5F5;
		transition: all .4s ease-in-out;
	}

	.product
{
	position: absolute;
	width: 40%;
	height: 100%;
	top:10%;
	left: 60%;
}

h1{
	font-size: 1.2em;
	color: #4E4E4E;
	margin-top: -5px;
}
.desc{
	text-transform: none;
	letter-spacing: 0;
	margin-bottom: 17px;
	color: #4E4E4E;
	font-size: .7em;
	margin-right: 25px;
	text-align: justify; 
}
button{
	background: #cda9ac;
	padding: 10px;
	display: inline-block;
	outline: 0;
	border: 0;
	margin: -1px;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #F5F5F5;
	cursor: pointer;
}

button:hover{
	background: #BA7E7E;
	transition: all .4s ease-in-out;
}

.add{
	width: 67%;
}

.like{
	width: 22%;
}